<footer class="content-grid">
    <div class="content-fw">
        {% include mega-fancy-hr-split-bot.html %}
    </div>
    <!-- Created by -->
    <div class="content-nw gr-large center created">
        <p>Grindlheim, K'aros and Ri'kh were created by Zarroc91&nbsp;/&nbsp;Dravarol.</p>
    </div>
    <!-- Progress Bar -->
    <div class="content-nw gr-medium center status">
        <p>Project Progress:</p>
        <div class="progress-bar">
            <span class="right">&nbsp;</span><span class="left">{{ site.progress }}</span>
        </div>
    </div>
    <!-- Social Links -->
    <ul class="gr-medium social-links">
        <li><a href="{{ site.data.urls.youtube }}"><img src="{{ site.baseurl }}/assets/img/brands/youtube.png" alt="Youtube logo">YouTube</a></li>
        <li><a href="{{ site.data.urls.steam-workshop }}"><img src="{{ site.baseurl }}/assets/img/brands/steam.png" alt="Steam logo">Steam Workshop</a></li>
        <li><a href="{{ site.data.urls.twitter }}"><img src="{{ site.baseurl }}/assets/img/brands/twitter.png" alt="Twitter logo">Twitter @Dravar0l</a></li>
        <li><a href="{{ site.data.urls.soundcloud }}"><img src="{{ site.baseurl }}/assets/img/brands/soundcloud.png" alt="SoundCloud logo">SoundCloud</a></li>
        <li><a href="{{ site.data.urls.planco-forums }}"><img src="{{ site.baseurl }}/assets/img/brands/planco.png" alt="Planet Coaster logo">Planet Coaster Forum</a></li>
    </ul>
    <!-- Legals -->
    <ul class="gr-small legals">
        <li>This is a private, non-commercial, ad-free website. The owner of this site does not earn any money from neither its content nor through linked platforms.</li>
        <li><a href="{{ site.baseurl }}{{ site.data.urls.privacy }}">Privacy Policy</a></li>
    </ul>
</footer>