<footer class="content-grid">
    <div class="content-fw footer-hr">
        {% include mega-fancy-hr-split-bot.html %}
    </div>

    <div id="created" class="content-nw gr-large center">
        <p>Grindlheim, K'aros and Ri'kh are being created by Zarroc91&nbsp;/&nbsp;Dravarol.</p>
    </div>

    <div id="status" class="content-nw gr-medium center">
        <p>Project Progress:</p>
        <div id="progress-bar">
            <span class="right">&nbsp;</span><span class="left">~ 50%</span>
        </div>
    </div>

    <ul id="social-links" class="gr-medium">
        <li><a href="https://www.youtube.com/user/Zarroc91">YouTube</a></li>
        <li><a href="https://steamcommunity.com/profiles/76561197993962252/myworkshopfiles/">Steam Workshop</a></li>
        <li><a href="https://forums.planetcoaster.com/">Planet Coaster Forum</a></li>
        <li><a href="https://soundcloud.com/esteban-de">Soundcloud</a></li>
    </ul>
    
    <ul id="legals" class="gr-small">
        <li>This is a private, non-commercial, ad-free website. The owner of this site does not earn any money from neither its content nor through linked platforms.</li>
        <li><a href="{{ site.baseurl }}{{ site.data.urls.privacy }}">Privacy Policy</a></li>
    </ul>
</footer>