<footer class="content-grid">
    <div class="content-nw gr-large center status">
            <p>Grindlheim, K'aros and Ri'kh are being created by Zarroc91&nbsp;/&nbsp;Dravarol.</p>
            <p class="gr-medium">Project Progress:</p>
            <div id="progress-bar" class="gr-medium">
                <span class="right">&nbsp;</span><span class="left">~ 50%</span>
            </div>
    </div>

    <ul id="social-links" class="gr-medium">
        <li><a href=""><img src="https://via.placeholder.com/40x40">Youtube</a></li>
        <li><a href=""><img src="https://via.placeholder.com/40x40">Steam Workshop</a></li>
        <li><a href=""><img src="https://via.placeholder.com/40x40">Planet Coaster Forum</a></li>
        <li><a href=""><img src="https://via.placeholder.com/40x40">Reddit</a></li>
    </ul>
    
    <ul id="legals" class="gr-medium">
        <li><a href="">Legal Notice</a></li>
        <li><a href="">Privacy Policy</a></li>
    </ul>

</footer>