<div class="hero-hr">
    <img class="top head" src="{{ site.baseurl }}/assets/img/hr/hero-hr-head-left-top.svg" alt="">
    <img class="top stretch" src="{{ site.baseurl }}/assets/img/hr/hero-hr-stretch-top.svg" alt="">
    <img class="top head" src="{{ site.baseurl }}/assets/img/hr/hero-hr-head-right-top.svg" alt="">
</div>
<div class="hero-hr">
    <img class="bot head" src="{{ site.baseurl }}/assets/img/hr/hero-hr-head-left-bot.svg" alt="">
    <img class="bot stretch" src="{{ site.baseurl }}/assets/img/hr/hero-hr-stretch-bot.svg" alt="">
    <img class="bot head" src="{{ site.baseurl }}/assets/img/hr/hero-hr-head-right-bot.svg" alt="">
</div>