footer {
    grid-row-gap: 2em;
    background-color: $gr-color-background-light;
    padding-bottom: 2.5em;
    align-items: start !important;

    p {
        margin: 0px 0px 0.5em 0px;
    }

    .created {
        p {
            padding: 0px 1em;
            font-weight: 700;
        }
    }

    .status {
        padding: 0 1em 1.5em 1em;
        border-bottom: 0.2em dotted white;

        @media screen and (max-width: $gr-break-l) {
            padding-bottom: 1em;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 1em;
        margin: 0px;
    }

    li {
        margin: 0.5em 0px;
    }

    .social-links {
        grid-column: content-start / span 5;

        a {
            display: grid;
            align-items: center;
            justify-content: left;
            grid-template-columns: 25px auto;
            grid-column-gap: 15px;

            @media screen and (max-width: $gr-break-l) {
                grid-template-columns: 20px auto;
                grid-column-gap: 13px;
            }

            @media screen and (max-width: $gr-break-m) {
                grid-template-columns: 20px auto; 
            }

            img {
                width: 100%;
                transition: linear $gr-transition-speed;
            }

            &:hover, &:focus-within {
                img {
                    opacity: 0.5;
                }
            }
        }
    }
    
    .legals {
        grid-column: 7 / content-end;
    }
}

@media screen and (max-width: $gr-break-l) {
    footer {
        grid-row-gap: 1em;
    }

    .social-links {
        grid-column: content-start / span 5 !important;
    }
    
    .legals {
        grid-column: 7 / content-end !important;
    }    
}

@media screen and (max-width: $gr-break-m) {
    .social-links, .legals {
        grid-column: content-start / content-end !important;
    } 
}
