.title-bg-blurred {
    filter: grayscale(15%) brightness(100%) contrast(85%) blur(7px);
}

.post-title {
    margin-top: 30px;

    @media screen and (max-width: $gr-break-m) {
        margin-top: 10px;
    }

    .links {
        a {
            margin-top: 1em;
            margin-right: 0.3em;
            display: inline-block;
            @extend .resp-border-m;
            border-radius: 1000px;
            padding: 0em 0.6em 0em 0.6em;

            transition: $gr-transition-speed ease-in;
            opacity: 0.5;
    
            &:hover{
                opacity: 1;
                background: $gr-color-txt;
                color: black;
                box-shadow: 0px 4px 8px $gr-color-box-shadow-light;
            }
        }
    }
}

.post {
    a {
        text-decoration: underline;
    }

    .video-wrapper {
        overflow: hidden;
    }

    .video-wrapper, video {
        border-radius: 24px;
    
        @media screen and (max-width: $gr-break-l) {
            border-radius: 20px;
        }  
    
        @media screen and (max-width: $gr-break-m) {
            border-radius: 16px;
        }
    }
}
