.title-bg-blurred {
    filter: grayscale(15%) brightness(100%) contrast(85%) blur(7px);
}

.post-title {
    margin-top: 30px;

    @media screen and (max-width: $gr-break-m) {
        margin-top: 10px;
    }

    .links {
        a {
            margin: 1em 0.15em 0em 0.15em;
            display: inline-block;
            @extend .resp-border-m;
            border-radius: 1000px;
            padding: 0em 0.6em 0em 0.6em;

            transition: $gr-transition-speed ease-in;
            opacity: 0.5;
    
            &:hover{
                opacity: 1;
                background: $gr-color-txt;
                color: black;
                box-shadow: 0px 4px 8px $gr-color-box-shadow-light;
            }
        }
    }
}

.post {
    a {
        text-decoration: underline;
    }

    .img-link, .img-link > img {
        width: 100%;
        display: block;
        cursor: zoom-in;
    }

    .video-wrapper, .workshop-link, .img-link {
        overflow: hidden;
        box-shadow: 0px 0px 12px $gr-color-box-shadow-darkest;
    }

    .video-wrapper, video, .workshop-link, .img-link {
        border-radius: 24px;
    
        @media screen and (max-width: $gr-break-l) {
            border-radius: 20px;
        }  
    
        @media screen and (max-width: $gr-break-m) {
            border-radius: 16px;
        }
    }
}

.img-link {
    img {
        transition:
        opacity $gr-transition-speed ease-in-out,
        transform $gr-transition-speed*2 ease-in-out;
    }

    &:hover {
        img {
            transform: scale(1.03);
        }
    }
}

.workshop-link {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 1.4em;

    background-color: $gr-color-background-light;
    text-decoration: none !important;
    border: 0px solid white;
    padding-right: 1em;
    margin: 2em 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    

    @media screen and (max-width: $gr-break-m) {
        grid-template-columns: 2fr 2fr;
        column-gap: 1em;
    }

    .img-wrap {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px;
            transition:
                opacity $gr-transition-speed ease-in-out,
                transform $gr-transition-speed*2 ease-in-out;
        }
    }

    &:hover {
        img {
            transform: scale(1.07);
        }
    }
}

.post-navigation {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.4em;
    align-items: center;
    font-weight: bold;
    margin: 15px 0px 25px;

    @media screen and (max-width: $gr-break-l) {
        margin: 11px 0px 21px;
    }  

    @media screen and (max-width: $gr-break-m) {
        margin: 7px 0px 17px 0px;
    }

    $angle-gap: 0.5em;

    a {
        display: grid;
        align-items: center;
        column-gap: $angle-gap;
        text-decoration: none;
        opacity: 0.5;

        &:hover{
            color: white;
            opacity: 1;
        }

        span {
            @media screen and (max-width: $gr-break-l) {
                border-width: 2px !important;
            }

            @media screen and (max-width: $gr-break-m) {
                border-width: 1px !important;
            }
        }
    }

    .previous {
        grid-column: 1 / span 1;
        grid-template-columns: auto auto;
        justify-self: left;

        i {
            grid-column: 1 / span 1;
        }

        span {
            grid-column: 2 / span 1;
            border-left: 3px dotted $gr-color-txt-hover;
            padding-left: $angle-gap
        }
    }

    .next {
        grid-column: 2 / span 1;
        grid-template-columns: auto auto;
        justify-self: right;

        span {
            grid-column: 1 / span 1;
            border-right: 3px dotted $gr-color-txt-hover;
            padding-right: $angle-gap
        }

        i {
            grid-column: 2 / span 1;
        }
    }
}
