// Colors
$gr-color-background: #151515;
$gr-color-background-light: #202020;
$gr-color-txt: white;

// Layout
$gr-max-width: 1186px;
$gr-min-width: 308px;

$gr-break-l: calc(#{$gr-max-width} - 100px);
$gr-break-m: calc(580px);
$gr-break-s: calc(#{$gr-min-width} + 1px);