$hero-height: 100vh;

.hero {    
    .hero-grid {
        position: relative;
        display: grid;
        grid-column-gap: 8px;
        grid-template-rows: auto minmax(1rem, 1fr) minmax(2rem, 200px) minmax(1rem, 1fr) auto;
        grid-template-columns: [edge-left] minmax(0.5rem, 1fr) [content-start] repeat(10, minmax(1.12rem, 6rem)) [content-end] minmax(0.5rem, 1fr) [edge-right];
        align-items: center;
        justify-content: center;

        height: $hero-height;
        width: 100%;

        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.7));

        .hero-title {
            grid-row: 3;
            user-select: none;

            .title-wrap {
                display: inline-block;
                transition: opacity 1s linear;

                &:hover {
                    opacity: 0.01;
                }

                h1 {
                    position: relative;
                    z-index: 1;
                    margin: 0;
                    
                    @include fluid-type($gr-min-width, $gr-break-l, 35px, 100px);
                    background-color: rgba(0,0,0,0.7);
                    padding: 0px 0.5em 0px 0.5em;
                    border: 0.05em solid white;
                    border-radius: 1000px;
                    box-shadow: 0px 0.1em 0.2em rgba(0,0,0,0.6);

                    -webkit-backdrop-filter: blur(4px);
                    backdrop-filter: blur(4px);

                    @media screen and (max-width: $gr-break-m) {
                        border-width: 2px;
                    }
                }

                span {
                    display: inline-block;
                    
                    @include fluid-type($gr-min-width, $gr-break-l, 14px, 30px);
                    background-color: rgba(0,0,0,0.7);
                    padding: 0.2em 1.5em 0.2em 1.5em;
                    border: 0.1em solid white;
                    border-radius: 0 0 1000px 1000px;
                    box-shadow: 0px 0.3em 0.6em rgba(0,0,0,0.5);

                    -webkit-backdrop-filter: blur(4px);
                    backdrop-filter: blur(4px);

                    transform: translateY(-0.1em);

                    @media screen and (max-width: $gr-break-l) {
                        border-width: 2px;
                        transform: translateY(-2px);
                    }
                }
            }
        }

        .loading {
            display: none;
            grid-row: 4;

            img {
               max-width: 40%;
            }
        }

        .hero-border-top {
            grid-row: 1;
        }

        .hero-border-bot {
            grid-row: -1;
            align-self: end;
        }
    }
}


.hero-slideshow{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: $hero-height;
    width: 100%;
    margin: 0px;

    li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        opacity: 0;

        background-size: cover;
        background-repeat: none;
        background-attachment: fixed;

        @supports (-webkit-overflow-scrolling: touch) {
            background-attachment: scroll;
        }

        //animation: fadeIn 1.45s linear forwards;
        @keyframes fadeIn{
            100% { opacity: 1; animation-timing-function: ease-in};
            0%   { opacity: 0; animation-timing-function: ease-out};
        }

        //animation: fadeOut 1.45s linear forwards;
        @keyframes fadeOut{
            0%   { opacity: 1; animation-timing-function: ease-in};
            100% { opacity: 0; animation-timing-function: ease-out};
        }

        //animation: imageAnimation 36s linear infinite 0s;
        @keyframes slideshow { 
            0%   { opacity: 0; animation-timing-function: ease-in; }
            4%   { opacity: 1; animation-timing-function: ease-out; }
            17%  { opacity: 1 }
            21%  { opacity: 0 }
            100% { opacity: 0 }
        }
    }

    li:nth-child(1) {
        //background-image: url(/assets/img/heros/hero2.jpg);
        background-position: 0% 0%;
    }

    li:nth-child(2) {
        //background-image: url(/assets/img/heros/hero3.jpg);
        background-position: 45% 0%;
    }

    li:nth-child(3) {
        //background-image: url(/assets/img/heros/hero4.jpg);
        background-position: 35% 0%;
    }

    li:nth-child(4) {
        //background-image: url(/assets/img/heros/hero5.jpg);
        background-position: 50% 0%;
    }

    li:nth-child(5) {
        //background-image: url(/assets/img/heros/hero6.jpg);
        background-position: 70% 0%;
    }

    li:nth-child(6) {
        //background-image: url(/assets/img/heros/hero1.jpg);
        opacity: 1;
        background-position: 70% 0%;
    }
}


// Introduction Block
// Audio player
#audio-player {
    display: inline-block;
    cursor: pointer;
    
    span {
        @extend .resp-border-m;
        border-radius: 1000px;
        padding: 0.15em 0.5em;
        transition: $gr-transition-speed ease-in;
    }

    &:hover{
        span {
            background: $gr-color-txt;
            color: black;
            box-shadow: 0px 4px 8px $gr-color-box-shadow-light;
        }
    }
}

// Youtube Block
// Youtube Link
#yt-link {
    width: 100%;
    display: inline-block;
    margin-top: 0.5em;
    position: relative;

    img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 0;
    }

    &:hover {
        box-shadow: 0px 5px 10px $gr-color-box-shadow-darker;
        opacity: 1;
        filter: grayscale(15%) brightness(110%) contrast(90%) blur(0px);
    }

    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0px 0px 24px  black;
    }
}

#yt-link, .workshop-link {
    overflow: hidden;
    box-shadow: 0px 0px 12px $gr-color-box-shadow-darkest;
    border-radius: 24px;

    @media screen and (max-width: $gr-break-l) {
        border-radius: 20px;
    }  

    @media screen and (max-width: $gr-break-m) {
        border-radius: 16px;
    }
}


//Blog & Coaster Block Shared
%abs-position {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.bg-image {
    @extend %abs-position;
    z-index: -3;
    transition: $gr-transition-speed;
    
    background-size: cover;
    background-repeat: none;
    background-position: 50% 0%;

    &::before {
        @extend %abs-position;
        z-index: -2;
        content: "";
    }

    &::before {
        @extend %abs-position;
        z-index: -1;
        content: "";
    }
}

// Coaster Block
.coasters-grid {
    display: grid;
    grid-template-columns: [content-start] 1fr [content-end];
    grid-template-rows: auto auto 1fr 1fr;
    grid-row-gap: 60px;
    align-items: stretch;
    margin-bottom: 60px;

    @media screen and (max-width: $gr-break-l) {
        grid-row-gap: 40px;
        margin-bottom: 40px;
    }  

    @media screen and (max-width: $gr-break-m) {
        grid-row-gap: 30px;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 0px;
    }
}

.coaster-link {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    transition: $gr-transition-speed*2 ease-in-out;

    --border-radius: 1000px;
    border-radius: var(--border-radius);

    @media screen and (max-width: $gr-break-m) {
        --border-radius: 24px;
    }

    position: relative;
    z-index: 0;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 5px 10px $gr-color-box-shadow-darker;

        .bg-image {
            filter: grayscale(15%) brightness(110%) contrast(90%) blur(0px);
            transform: scale(1.03);
        }
    }

    .bg-image {
        border-radius: var(--border-radius);
        filter: blur(1px) grayscale(10%) contrast(95%);
        transition: transform $gr-transition-speed*2 ease-in-out;

        &::before {
            border-radius: var(--border-radius);
            background-image: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(0,0,0,0.45) 38%, rgba(0,0,0,0.45) 62%, rgba(0,0,0,0) 80%);
        }

        &::before {
            border-radius: var(--border-radius);
            box-shadow: inset 0px 0px 24px black;
        }
    }

    .logo {
        max-width: 48%;
        max-height: 310px;
        padding: 16px;

        @media screen and (max-width: $gr-break-l) {
            max-width: 53%;       
        }

        @media screen and (max-width: $gr-break-m) {
            max-width: 80%;
        }  
    }
}

// Blog Block
.blog-grid {
    grid-row-gap: 30px;

    @media screen and (max-width: $gr-break-l) {
        grid-row-gap: 20px;
    }  

    @media screen and (max-width: $gr-break-m) {
        grid-row-gap: 10px;
    }

    .date-tags {
        color: $gr-color-txt-hover;
    }

    .status {
        padding-bottom: 2px !important;

        p {
            margin: 0px 0px 0.5em 0px;
        }
    }

    .post {
        background-color: $gr-color-background-light;
        box-shadow: inset 0px 0px 4px black;
        padding: 8px 30px;
        border-radius: 28px;
        transition: $gr-transition-speed linear;

        @media screen and (max-width: $gr-break-l) {
            padding: 6px 25px;
            border-radius: 23px;
        }  
    
        @media screen and (max-width: $gr-break-m) {
            padding: 2px 17px;
            border-radius: 18px;
        }

        position: relative;
        z-index: 0;
        overflow: hidden;

        &:hover {
            text-shadow: 1px 1px 6px rgba(0,0,0,0.9);
            .bg-image {
                filter: grayscale(15%) brightness(110%) contrast(90%) blur(0px);
                transform: scale(1.03);
            }
        }
        
        .bg-image {
            filter: blur(5px) grayscale(30%) contrast(90%);
            transition: transform $gr-transition-speed*2 ease-in-out;
    
            &::before {
                background-image: linear-gradient(to right, rgba(15, 15, 15, 0.65) 0%, rgba(0,0,0,0.65) 100%);
            }
    
            &::before {
                box-shadow: inset 0px 0px 12px  black;
            }
        }
    }
}
