$hero-height: 100vh;

.hero {    
    .hero-grid {
        position: relative;
        display: grid;
        grid-column-gap: 8px;
        grid-template-rows: auto minmax(1rem, 1fr) minmax(2rem, 200px) minmax(1rem, 1fr) auto;
        grid-template-columns: [edge-left] minmax(0.5rem, 1fr) [content-start] repeat(10, minmax(1.12rem, 6rem)) [content-end] minmax(0.5rem, 1fr) [edge-right];
        align-items: center;
        justify-content: center;

        height: $hero-height;
        width: 100%;

        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.7));

        .hero-title {
            grid-row: 3;
            
            h1 {            
                display: inline-block;
                @include fluid-type($gr-min-width, $gr-break-l, 35px, 100px);
                background-color: rgba(0,0,0,0.7);
                padding: 0px 0.5em 0px 0.5em;
                border: 0.05em solid white;
                border-radius: 1000px;
                box-shadow: 0px 0.1em 0.2em rgba(0,0,0,0.6);
                transition: opacity 1s linear;

                &:hover {
                    opacity: 0.02;
                }

                @media screen and (max-width: $gr-break-m) {
                    border-width: 2px;
                }
            }
        }

        .hero-border-top {
            grid-row: 1;
        }

        .hero-border-bot {
            grid-row: -1;
            align-self: end;
        }
    }
}


.hero-slideshow{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: $hero-height;
    width: 100%;
    margin: 0px;

    li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        opacity: 0;

        background-size: cover;
        background-repeat: none;
        background-attachment: fixed;

        @supports (-webkit-overflow-scrolling: touch) {
            background-attachment: scroll;
        }

        //animation: fadeIn 1.45s linear forwards;
        @keyframes fadeIn{
            100% { opacity: 1; animation-timing-function: ease-in};
            0%   { opacity: 0; animation-timing-function: ease-out};
        }

        //animation: fadeOut 1.45s linear forwards;
        @keyframes fadeOut{
            0%   { opacity: 1; animation-timing-function: ease-in};
            100% { opacity: 0; animation-timing-function: ease-out};
        }

        //animation: imageAnimation 36s linear infinite 0s;
        @keyframes slideshow { 
            0%   { opacity: 0; animation-timing-function: ease-in; }
            4%   { opacity: 1; animation-timing-function: ease-out; }
            17%  { opacity: 1 }
            21%  { opacity: 0 }
            100% { opacity: 0 }
        }
    }

    li:nth-child(1) {
        //background-image: url(/assets/img/heros/6/hero2.jpg);
        background-position: 0% 0%;
    }

    li:nth-child(2) {
        //background-image: url(/assets/img/heros/6/hero3.jpg);
        background-position: 45% 0%;
    }

    li:nth-child(3) {
        //background-image: url(/assets/img/heros/6/hero4.jpg);
        background-position: 35% 0%;
    }

    li:nth-child(4) {
        //background-image: url(/assets/img/heros/6/hero5.jpg);
        background-position: 50% 0%;
    }

    li:nth-child(5) {
        //background-image: url(/assets/img/heros/6/hero6.jpg);
        background-position: 70% 0%;
    }

    li:nth-child(6) {
        //background-image: url(/assets/img/heros/6/hero1.jpg);
        opacity: 1;
        background-position: 70% 0%;
    }
}

// Introduciton
#introduction {
    
}


// Audio player
#audio-toggle {
    display: inline-block;
    cursor: pointer;
    
    span {
        border: 0.08em solid white;
        border-radius: 1000px;
        padding: 0.15em 0.5em;
        transition: 0.05s linear;
    }

    &:hover{
        span {
            background: white;
            color: black;
            box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
        }
     }
}


.coasters {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    justify-content: center;

    img {
        padding: 8px;
        width: 100%;
    }

    .karos {
        grid-column: 1;
    }

    .rihk {
        grid-column: 3;
    }

    .and {
        grid-column: 2;
        @include fluid-type($gr-min-width, $gr-max-width, 20px, 130px);
    }
}
