.logo {
    max-height:  280px;
    max-width: 85%;
}

.logo-bg-blurred {
    filter: grayscale(15%) brightness(110%) contrast(85%) blur(5px);
}

.back {
    text-align: left;
    margin: 0.5rem 0.5rem 0px 0px;

    @media screen and (max-width: $gr-break-m) {
        margin: 0.3rem 0.3rem 0.3rem 0px;
    }

    a {
        @extend .resp-border-m;
        border-radius: 0px 1000px 1000px 0px;
        border-left: none;
        padding: 0.05em 0.6em 0.11em 0.3em;
        transition: $gr-transition-speed ease-in;
        opacity: 0.4;

        &:hover {
            background: white;
            color: black;
            box-shadow: 0px 4px 8px $gr-color-box-shadow-light;
            opacity: 1;
        }
    }
}
