---
layout: default
page.title: Home
page.description: Home
permalink: /
---

<main>
    <!-- Hero-image section -->
    <section class="hero">
        <!-- Background hero-image slideshow -->
        <script src="{{ site.baseurl }}/assets/scripts/start-slideshow.js"></script>
        <ul class="hero-slideshow">
            <li>Hero Image 1</li>
            <li>Hero Image 2</li>
            <li>Hero Image 3</li>
            <li>Hero Image 4</li>
            <li>Hero Image 5</li>
            <li style="background-image:url({{site.baseurl}}/assets/img/heros/6/hero1.jpg);">Hero Image 6</li>
        </ul>
        <!-- Hero grid on top-->
        <div class="hero-grid">
            <div class="content-fw hero-border-top hr-flip">
                {% include mega-fancy-hr-split-top.html %}
            </div>
            <div class="content-nw hero-title center">
                <h1 class="metamorph">Grindlheim</h1>
            </div>
            <div class="content-nw loading center">
                <span class="gr-medium">Loading Slideshow</span><br>
                <img src="{{ site.baseurl }}/assets/img/loading.svg">
            </div>
            <div class="content-fw hero-border-bot">
                <div class="hero-hr">
                    <img class="top head" src="{{ site.baseurl }}/assets/img/hr/hero-hr-head-left-top.svg">
                    <img class="top stretch-w-arrow" src="{{ site.baseurl }}/assets/img/hr/hero-hr-stretch-top.svg">
                    <img class="top arrow" src="{{ site.baseurl }}/assets/img/hr/hero-hr-mid-top.svg">
                    <img class="top stretch-w-arrow" src="{{ site.baseurl }}/assets/img/hr/hero-hr-stretch-top.svg">
                    <img class="top head" src="{{ site.baseurl }}/assets/img/hr/hero-hr-head-right-top.svg">
                </div>
            </div>
        </div>
    </section>


    <!-- Introduction section with content grid -->
    <section class="content-grid">
        <!-- Bottom half of hero ruler -->
        <div class="content-fw">
            {% include mega-fancy-hr-split-bot.html %}
        </div>
        <!-- Introduction-->
        <div class="content-nw center">
            <h2 class="center gr-xxlarge bold">Welcome to the theme world of Grindlheim</h2>
            <p class="center gr-large">
                Grindlheim is an highly detailed and immersive theme world being created in Planet&nbsp;Coaster.
                Inspired by Klugheim at Phantasialand, Grindlheim features two rollercoasters:
                K'aros, an intense and fast multi launch coaster with quick turn-arounds, frightening head-choppers and
                an entwined layout
                and Ri'kh, a family coaster which takes you on a short journey through the heart of Grindlheim.
            </p>
        </div>
        <!-- Audio player-->
        <div class="content-nw center">
            <script src="{{ site.baseurl }}/assets/scripts/audio-player.js"></script>
            <div id="audio-player" onclick="playAudio()">
                <span class="gr-large">&nbsp;Music&nbsp;&nbsp;<i class="fa fa-volume-off"></i>&nbsp;</span>
                <audio id="audio">
                    <source src="{{ site.baseurl }}/assets/audio/theme.mp3" type="audio/mp3">
                </audio>
            </div>
        </div>
        <!-- Flipped bottom hero ruler top half -->
        <div class="content-fw hr-flip">
            {% include mega-fancy-hr-split-bot.html %}
        </div>
    </section>


    <!-- Karos coaster section with content grid -->
    <section class="grid-on-bg-container">
        <!-- Background image -->
        <div class="grid-bg-image blurred" style="background-image:url({{site.baseurl}}/assets/img/rikh-bg.jpg);"></div>
        <!--- Content grid -->
        <div class="content-grid on-bg with-gradient">
            <!-- Flipped top hero ruler bottom half -->
            <div class="content-fw hr-flip">
                {% include mega-fancy-hr-split-top.html %}
            </div>

            <div class="content-nw coasters-grid">
                <div class="content-nw">
                    <h2 class="gr-xxlarge center bold"><b>Experience the two unique rollercoasters K'aros and Ri'kh</b></h2>
                </div>

                <div class="content-nw">
                    {% include fancy-hr.html %}
                </div>

                <div class="content-nw">
                    <a class="coaster-link" href="{{ site.baseurl }}{{ site.data.urls.karos }}">
                        <div class="bg-image" style="background-image:url({{site.baseurl}}/assets/img/karos-logo-bg.jpg)"></div>
                        <img class="logo" src="{{ site.baseurl }}/assets/img/karos.svg" alt="K'aros">
                    </a>
                </div>
                <div class="content-nw">
                    <a class="coaster-link" href="#">
                        <div class="bg-image" style="background-image:url({{site.baseurl}}/assets/img/rikh-logo-bg.jpg)"></div>
                        <img class="logo" src="{{ site.baseurl }}/assets/img/rikh.svg" alt="Ri'kh">
                    </a>
                </div>
            </div>

            <!--  Bottom hero ruler top half -->
            <div class="content-fw">
                {% include mega-fancy-hr-split-top.html %}
            </div>
        </div>
    </section>
</main>