---
layout: default
page.title: Home
page.description: Home
permalink: /karos/
---

<main class="center">
    <section class="grid-on-bg-container">
        <!-- Background image -->
        <div class="grid-bg-image logo-bg-blurred"
            style="background-image:url({{site.baseurl}}/assets/img/karos-logo-bg.jpg);background-position: 50% 0%;">
        </div>
        <!--- Content grid -->
        <div class="content-grid on-bg with-gradient">
            <!-- Back button -->
            <div class="content-fw gr-medium back">
                <a class="tag-medium" href="/"><i class="fa fa-angle-left"></i> Back</a>
            </div>

            <!-- Logo -->
            <div class="content-nw">
                <img class="logo" src="{{ site.baseurl }}/assets/img/karos.svg" alt="K'aros">
            </div>

            <!-- Hero ruler bottom half flipped -->
            <div class="content-fw hr-flip">
                {% include mega-fancy-hr-split-bot.html %}
            </div>
        </div>
    </section>


    <section id="gallery" class="grid-on-bg-container gallery">
        <!-- Gallery JS configuration-->
        <script src="{{ site.baseurl }}/assets/scripts/galleryclass.js"></script>
        <script>
            var karosGallery = new Gallery('#gallery', '{{ site.baseurl }}/assets/img/heros/6/hero', '.jpg', 6, 1)
        </script>

        <!-- Background image -->
        <div class="grid-bg-image gallery-img"
            style="background-image:url({{site.baseurl}}/assets/img/heros/6/hero1.jpg);"></div>

        <!--- Content grid -->
        <div class="content-grid on-bg gallery-grid">
            <!-- Hero ruler top half flipped -->
            <div class="content-fw hr-flip">
                {% include mega-fancy-hr-split-top.html %}
            </div>

            <!-- Gallery controls -->
            <div class="content-nw align-item-top">
                <div class="gallery-nav gr-medium">
                    <button class="previous">
                        <i class="fa fa-angle-left"></i>&nbsp;Previous
                    </button>
                    <span class="img-number">1 / 1</span>
                    <a class="fullscreen" href="{{site.baseurl}}/assets/img/heros/6/hero1.jpg" target="blank">
                        <i class="fa fa-arrows-alt"></i>
                    </a>
                    <button class="next">
                        Next&nbsp;<i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </div>

            <!-- Loading indicator -->
            <div class="content-nw center">
                <div class="gallery-loading">
                    <span class="gr-medium">Loading Image</span><br>
                    <img src="{{ site.baseurl }}/assets/img/loading.svg">
                </div>
            </div>

            <!-- Hero ruler top half -->
            <div class="content-fw">
                {% include mega-fancy-hr-split-top.html %}
            </div>
        </div>
    </section>
</main>